* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}
.app {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c7b4b4;
    height: 100vh;
}
.main {
    height: 50%;
    min-height: 400px;
    width: 300px;
    min-width: 150px;
    background-color: #ffffff;
    border: black 2px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header__nav {
    display: flex;
    justify-content: space-between;
}
.content {
    display: flex;
    flex-direction: column;
}
.content__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.footer form {
    display: flex;
    justify-content: space-between;
}
